$divider: rgba(0,0,0,.12);


.page-home {
    // background-color: #000;
    .mu-appbar {
        background-color: #000;
    }
    .page-body {
        background-color: #000;
    }
    .ui-page-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 !important;
    }
}
.mu-drawer {
    .mu-appbar {
        background-color: #4285f4;
    }
}
.earth-box {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    canvas {
        width: 100%;
        height: 100%;
    }
}